<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/shop.css">
    </head>

    <body>
        <%- include('../includes/navigation') %>
            <main>
                <% if(products.length> 0) {%>
                    <ul>
                        <% products.forEach(p=> { %>
                            <li>
                                <p>
                                    <%= p.productId.title %> (<%= p.quantity %>)
                                </p>
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" name="productId" value="<%=p.productId._id%>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </li>

                            <% }) %>
                    </ul>
                    <div>
                        <form action="/create-order" method="POST">
                            <button type="submit" class="btn btn-outline-success form-control">Place Order</button>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                    </div>
                    <% } else {%>
                        <h1>No Products In Cart</h1>

                        <% } %>
            </main>

            <%- include('../includes/end') %>