<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation') %>
            <main class="centered">
                <h1 class="text-center">
                    <%= prod.title %>
                </h1>
                <hr>
                <div>
                    <img src="/<%= prod.imageUrl %>" alt="<%= prod.title %>" height="500px" width="700px">
                </div>
                <h2>
                    <%= prod.price %> Tk
                </h2>
                <p>
                    <%= prod.description %>
                </p>
                <% if(isLoggedIn) {%> 
                    <%- include('../includes/add-to-cart', {prod : prod}) %>
                    <% } %> 
            </main>

            <%- include('../includes/end') %>